<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uriel.login1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-sdk android:minSdkVersion="3" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_popup_sync"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:label="Travels">
        <activity android:name=".Activities.login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.travel"
            android:label="Ingresar Nuevo Viaje"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.options"
            android:label="Opciones"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.show"
            android:label="Lista de Viajes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.register"
            android:label="Register"
            android:screenOrientation="sensor" />

        <activity
            android:name=".Activities.settings"
            android:label="Ajustes"
            android:screenOrientation="sensor" />

        <activity
            android:name=".Activities.select"
            android:label="Seleccion de Viaje"
            android:screenOrientation="locked"/>

        <receiver
            android:name=".BroadcastReceiver.onStartUp"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BroadcastReceiver.TravelsReceiver"
            android:process=":remote" >
        </receiver>

        <service
            android:name=".Utilities.checkTravels"
            android:exported="false" />
    </application>

</manifest>